{% extends "base_html_my.html" %}
{% block title %}Создание категории{% endblock %}

<h1>Create new category</h1>

{% block content %}
    <form action="/categories/add/" method="post">
        {% csrf_token %}
        <h2>Добавление категории</h2>

        <label>Title:</label><br/>
        <label>
            <input type="text" name="title"/>
        </label><br/>

        <label>Description:</label><br/>
        <label>
            <textarea name="description"></textarea>
        </label><br/>

        <input type="submit" value="Send"/>
    </form>
{% endblock %}