{% extends "base_html_my.html" %}
{% block title %}Создание товара{% endblock %}
<h1>Create new task</h1>

{% block content %}
<form action="/good/add/" method="post">
    {% csrf_token %}
    <label>Category:</label><br/>
    <label>
        <select name="category">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.title }}</option>
            {% endfor %}

        </select>
    </label><br/>
    <label>Title:</label><br/>
    <label>
        <input type="text" name="title"/>
    </label><br/>
    <label>Description:</label><br/>
    <label>
        <textarea name="description"></textarea>
    </label><br/>
    <label>Price:</label><br/>
    <label>
        <input type="number" name="price">
    </label><br/>
    <label>Добавить картинку:</label><br/>
    <label>
        <input type="number" name="price">
    </label><br/>
    <input type="submit" value="Send"/>

</form>

{% endblock %}