{% extends "base_html_my.html" %}
{% block link %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "category_add" %}">Создание категории</a>
    </li>
{% endblock %}
{% block title %}Создание товара{% endblock %}

{% block content %}
    <h1 class="title_create_good pt-5 pb-4">Создать/Добавить новый товар</h1>
    <div class="card w-25 mb-3" style="background-color: bisque">
        <div class="card-body">
            <form action="/good/add/" method="post">
                {% csrf_token %}
                <label>Category:</label><br/>
                <label>
                    <select name="category">
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.title }}</option>
                        {% endfor %}

                    </select>
                </label><br/>
                <label>Title:</label><br/>
                <label>
                    <input type="text" name="title"/>
                </label><br/>
                <label>Description:</label><br/>
                <label>
                    <textarea name="description"></textarea>
                </label><br/>
                <label>Price:</label><br/>
                <label>
                    <input type="number" name="price" value="{{ product.price|floatformat:2 }}">
                </label><br/>
                <label>Добавить картинку(url):</label><br/>
                <label>
                    <input type="url" name="image_url">
                </label><br/>

                <input type="submit" value="Send"/>

            </form>
        </div>
    </div>


{% endblock %}


{#<input type="number" name="price" value="{{ product.price|floatformat:2 }}">#}