{% extends "base_html_my.html" %}
{% block link %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "category_add" %}">Создание категории</a>
    </li>
{% endblock %}
{% block title %}Создание товара{% endblock %}

{% block content %}
    <h1 class="title_create_good pt-5 pb-4">Создать/Добавить новый товар</h1>
    <div class="card w-25 mb-3" style="background-color: bisque">
        <div class="card-body">
            {% include "good_form.html" with button_text="Создать" %}
        </div>
    </div>


{% endblock %}


{#<input type="number" name="price" value="{{ product.price|floatformat:2 }}">#}