{% extends "base_html_my.html" %}
{% block link %}
    <li class="nav-item">
          <a class="nav-link" href="{% url "good_add" %}">Создать товар</a>
    </li>
{% endblock %}

{% block title %}Подробно о таваре{% endblock %}
auth_user_groups
{% block content %}
    <div class="card-body">
        <p class="card-text">{{ good.title }}</p>
        <p class="card-text">Категория: {{ good.category.title }}</p>
        <p class="card-text">Описание: {{ good.description }}</p>
        <p class="card-text">Цена: {{ good.price }}</p>
        <img src="{{ good.image_url }}" alt="{{ good.title }}" style="width: 100%; height: auto;">
        <p class="card-text">Дата создания: {{ good.created_at }}</p>

    </div>
{% endblock %}