{% extends "base_html_my.html" %}
{% block link %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "good_add" %}">Создание товара</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url "category_add" %}">Создание категории</a>
    </li>
{% endblock %}


{% block content %}

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h1 class="title_create_good pt-5 pb-4">Создать/Добавить новый товар</h1>

                    <div class="card-body">
                        {% include "good_form.html" with button_text="Создать" action=url %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="title_head text-center pt-5 pb-5">
        <h1 class="head-our-works" style="font-size: 80px">ǾŨŘ<span class="span_title " style="padding-left: 55px">ǤỜỚĐᏕ</span></h1>
    <h2>╰────────╮• ✻ •╭────────╯</h2>
    </div>
    <div class="container text-center">
        <div class="container-our-works pb-5">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for good in goods %}
                    <div class="col-xxl-4 col-lg-6 col-sm-12">
                    <h2>╔═══ ▓▓ ∆ ▓▓ ═══╗</h2>
                        <div class="card card-our-works h-100" style="border: 3px solid darkblue">
                            <div class="card-body ">
                                <p class="card-text card-text-1 text-uppercase"
                                   style="font-size: 36px;">{{ good.title }}</p>
                                <p class="card-text card-text-1 text-uppercase"
                                   style="font-size: 24px;">{{ good.category.title }}</p>
                                <p class="card-text card-text-1 text-uppercase"
                                   style="font-size: 24px; border-bottom: 2px solid darkblue">{{ good.price }} $</p>
                            </div>

                            <img src="{{ good.image_url }}" class="card-img-top rounded-0 pb-3"
                                 alt="{{ good.title }}" style="width: 100%; height: auto;">

                            <a class="card-link pt-3 pb-3" href="{% url "good_view" good.pk %}"
                               style="border-top: 2px solid darkblue;">
                                <button type="submit"
                                        class="btn btm-input btn-outline-warning btn-lg py-2  text-uppercase rounded-0">
                                    Просмотр тавара
                                </button>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
