{% extends "base_html_my.html" %}
{% block link %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "good_add" %}">Создание товара</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url "category_add" %}">Создание категории</a>
    </li>
{% endblock %}


{% block content %}
    <h1 class="head-our-works text-center pt-5 pb-5">Our Goooooods</h1>
    <div class="container text-center">
        <div class="container-our-works pb-5">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for good in goods %}
                    <div class="col-xxl-4 col-lg-6 col-sm-12">
                        <div class="card card-our-works h-100" style="border: 3px solid darkblue">
                            <div class="card-body ">
                                <p class="card-text card-text-1 text-uppercase" style="font-size: 36px;">{{ good.title }}</p>
                                <p class="card-text card-text-1 text-uppercase" style="font-size: 24px;">{{ good.category.title }}</p>
                                <p class="card-text card-text-1 text-uppercase" style="font-size: 24px; border-bottom: 2px solid darkblue">{{ good.price }} $</p>
                            </div>

                            <img src="{{ good.image_url }}" class="card-img-top rounded-0 pb-3"
                                 alt="{{ good.title }}" style="width: 100%; height: auto;">

                            <a class="card-link pt-3 pb-3" href="{% url "good_view" good.pk %}" style="border-top: 2px solid darkblue;">
                            <button type="submit"
                            class="btn btm-input btn-outline-warning btn-lg py-2  text-uppercase rounded-0">Просмотр тавара</button>
                                </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}